<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fhsapp.client" version="1.0.6" versionCode="1000006" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>FhsApp</name>
    <description>
        The FHS APP is the first announcement app for Franklin High School in Portland Oregon. This app is designed to help students receive personalized announcements for their classes, clubs, and sports.
    </description>
    <author href="http://fhsapp.com" email="harmonicnw@gmail.com">Dustin, Griffin, Julian, Josh</author>
    
    <feature name="http://api.phonegap.com/1.0/device" />
    
    <!-- preferences -->
    
	<preference name="phonegap-version" value="3.4.0" />
	<preference name="BackupWebStorage" value="none" />
    
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    
    <!-- icons -->
    
    <icon src="www/icon.png" />
    
    <icon src="www/res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="www/res/icon/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144" />
    <icon src="www/res/icon/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="www/res/icon/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152" />
    <icon src="www/res/icon/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120" />
	<icon src="www/res/icon/ios/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="www/res/icon/ios/icon@2x.png" gap:platform="ios" width="114" height="114" />
    
    <!-- splash screens -->
    
    <gap:splash src="www/res/screen/android/drawable-ldpi/splash.png" gap:platform="android" gap:qualifier="ldpi" />
    <gap:splash src="www/res/screen/android/drawable-mdpi/splash.png" gap:platform="android" gap:qualifier="mdpi" />
    <gap:splash src="www/res/screen/android/drawable-hdpi/splash.png" gap:platform="android" gap:qualifier="hdpi" />
    <gap:splash src="www/res/screen/android/drawable-xhdpi/splash.png" gap:platform="android" gap:qualifier="xhdpi" />
    <gap:splash src="www/res/screen/android/drawable-port-ldpi/splash.png" gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="www/res/screen/android/drawable-port-mdpi/splash.png" gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="www/res/screen/android/drawable-port-hdpi/splash.png" gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="www/res/screen/android/drawable-port-xhdpi/splash.png" gap:platform="android" gap:qualifier="port-xhdpi" />
    
    <gap:splash src="www/res/screen/ios/Default~iphone.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="www/res/screen/ios/Default@2x~iphone.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="www/res/screen/ios/Default-568h@2x~iphone.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="www/res/screen/ios/Default-Portrait~ipad.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="www/res/screen/ios/Default-Landscape~ipad.png" gap:platform="ios" width="1024" height="768" />
    
    <!-- plugins -->
    
    <gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="com.phonegap.plugin.statusbar" />
	<gap:plugin name="org.apache.cordova.splashscreen" /> 
	
	<!-- platforms -->

	<gap:platform name="ios" />
	<gap:platform name="android" />
	
	<!-- android splash screen -->
	<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="10000" />
       
    <access origin="*" />
</widget>
